html, body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-weight: 400;
}
.mdl-layout__header-row {
    z-index: 2;
    padding-left: 16px;
}
.mdl-layout__content {
    position: absolute;
    bottom: 0;top: 0;left: 0;right: 0;
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
#cover {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    background-color: #e0e0e0;
    background-image: url(../images/artwork-not-found.png);
    position: relative;
    background-size: cover;
    background-position: center;
}
.card {
    min-height: 0;
    padding: 32px 16px;
    width: 100%;
    overflow: visible;
    border-radius: 0px;
}
.textbackground {
    background-color: #616161;
}
.accentcolor {
    background-color: #1ed760;
    color: #FFFFFF;
}
.textinfo {
    margin: 0 56px;
    max-height: 2.5em;
    overflow: hidden;
}
.textinfo.light {
    color: #ffffff;
}
.textinfo.dark {
    color: #424242;
}
.controlinfo {
    margin: 0 24px;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    word-break: break-all;
    max-height: 1.5em;
    overflow: hidden;
}
#time {
    margin: 0 16px 0 0;
}
.fab {
    position: absolute;
    z-index: 3;
    right: 16px;
    bottom: -28px;
}
#progress {
    z-index: 4;
}
.progresscontainer {
    margin: 0 8px;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    position: relative;
}
.volumecard {
    position: absolute;
    z-index: 6;
    height: 56px;
    width: 320px;
    bottom: 150px;
    left: -120px;
    padding: 0 16px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
.volumecard button {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}